<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

{{^username}}
<form action = "login" method = "post">
    <input type = "text" placeholder = "Enter your name" name = "username"/>
    <input type = "password" placeholder="Enter your password" name = "password"/>
    <button type = "submit" >Enter</button>
</form>

{{/username}}

{{#username}}
Messages by {{username}}<br>
<form action = "add-message" method = "post">
    <input type = "text" placeholder= "Your message" name = "msgtext"/>
    <button type = "submit">Add</button>
</form>

{{#messages}}
{{text}}
<form action = "delete-message" method = "post" style = "display: inline;">
    <input type = "hidden" value = "{{id}}" name = "id"/>
    <button type = "submit">Remove</button>
</form>
<a href = "/edit?id={{id}}">Edit</a>
<br>
{{/messages}}
{{/username}}
</body>
</html>